Computing/Algorithms/*.pdf
Computing/Algorithms/*.out
Computing/Algorithms/*.aux
Computing/Algorithms/*.log
Computing/Algorithms/*.toc
Computing/Algorithms/*.synctex.gz
Mathematics/*.pdf
Mathematics/Analysis/*.pdf
Mathematics/Analysis/*.out
Mathematics/Analysis/*.aux
Mathematics/Analysis/*.log
Mathematics/Analysis/*.toc
Mathematics/Analysis/*.synctex.gz
Mathematics/Analysis/Homework/HW1/*.pdf
Mathematics/Analysis/Homework/HW1/*.out
Mathematics/Analysis/Homework/HW1/*.aux
Mathematics/Analysis/Homework/HW1/*.log
Mathematics/Analysis/Homework/HW1/*.toc
Mathematics/Analysis/Homework/HW1/*.synctex.gz
Mathematics/Analysis/Homework/HW2/*.pdf
Mathematics/Analysis/Homework/HW2/*.out
Mathematics/Analysis/Homework/HW2/*.aux
Mathematics/Analysis/Homework/HW2/*.log
Mathematics/Analysis/Homework/HW2/*.toc
Mathematics/Analysis/Homework/HW2/*.synctex.gz
Misc/*.pdf
Misc/*.out
Misc/*.aux
Misc/*.log
Misc/*.toc
Misc/*.synctex.gz
StatEconFinance/AssetPricing/*.pdf
StatEconFinance/AssetPricing/*.out
StatEconFinance/AssetPricing/*.aux
StatEconFinance/AssetPricing/*.log
StatEconFinance/AssetPricing/*.toc
StatEconFinance/AssetPricing/*.synctex.gz
StatEconFinance/InterestRateModels/*.pdf
StatEconFinance/InterestRateModels/*.out
StatEconFinance/InterestRateModels/*.aux
StatEconFinance/InterestRateModels/*.log
StatEconFinance/InterestRateModels/*.toc
StatEconFinance/InterestRateModels/*.synctex.gz
StatEconFinance/BayesianStatistics/*.pdf
StatEconFinance/BayesianStatistics/*.out
StatEconFinance/BayesianStatistics/*.aux
StatEconFinance/BayesianStatistics/*.log
StatEconFinance/BayesianStatistics/*.toc
StatEconFinance/BayesianStatistics/*.synctex.gz
StatEconFinance/KalmanFilter/*.pdf
StatEconFinance/KalmanFilter/*.out
StatEconFinance/KalmanFilter/*.aux
StatEconFinance/KalmanFilter/*.log
StatEconFinance/KalmanFilter/*.toc
StatEconFinance/KalmanFilter/*.synctex.gz
StatEconFinance/BellmanEquation/*.pdf
StatEconFinance/BellmanEquation/*.out
StatEconFinance/BellmanEquation/*.aux
StatEconFinance/BellmanEquation/*.log
StatEconFinance/BellmanEquation/*.toc
StatEconFinance/BellmanEquation/*.synctex.gz
StatEconFinance/MachineLearning/*.pdf
StatEconFinance/MachineLearning/*.out
StatEconFinance/MachineLearning/*.aux
StatEconFinance/MachineLearning/*.log
StatEconFinance/MachineLearning/*.toc
StatEconFinance/MachineLearning/*.synctex.gz
StatEconFinance/BetaDistribution/*.pdf
StatEconFinance/BetaDistribution/*.out
StatEconFinance/BetaDistribution/*.aux
StatEconFinance/BetaDistribution/*.log
StatEconFinance/BetaDistribution/*.toc
StatEconFinance/BetaDistribution/*.synctex.gz
StatEconFinance/MarkovChains/*.pdf
StatEconFinance/MarkovChains/*.out
StatEconFinance/MarkovChains/*.aux
StatEconFinance/MarkovChains/*.log
StatEconFinance/MarkovChains/*.toc
StatEconFinance/MarkovChains/*.synctex.gz
StatEconFinance/ChiSquareDistribution/*.pdf
StatEconFinance/ChiSquareDistribution/*.out
StatEconFinance/ChiSquareDistribution/*.aux
StatEconFinance/ChiSquareDistribution/*.log
StatEconFinance/ChiSquareDistribution/*.toc
StatEconFinance/ChiSquareDistribution/*.synctex.gz
StatEconFinance/MathematicalStatistics/MathStatNotes.pdf
StatEconFinance/MathematicalStatistics/MathStatNotes.out
StatEconFinance/MathematicalStatistics/MathStatNotes.aux
StatEconFinance/MathematicalStatistics/MathStatNotes.log
StatEconFinance/MathematicalStatistics/MathStatNotes.toc
StatEconFinance/MathematicalStatistics/MathStatNotes.synctex.gz
StatEconFinance/ContinuousTimeFinance/*.pdf
StatEconFinance/ContinuousTimeFinance/*.out
StatEconFinance/ContinuousTimeFinance/*.aux
StatEconFinance/ContinuousTimeFinance/*.log
StatEconFinance/ContinuousTimeFinance/*.toc
StatEconFinance/ContinuousTimeFinance/*.synctex.gz
StatEconFinance/MeasureTheory/*.pdf
StatEconFinance/MeasureTheory/*.out
StatEconFinance/MeasureTheory/*.aux
StatEconFinance/MeasureTheory/*.log
StatEconFinance/MeasureTheory/*.toc
StatEconFinance/MeasureTheory/*.synctex.gz
StatEconFinance/Convergence/*.pdf
StatEconFinance/Convergence/*.out
StatEconFinance/Convergence/*.aux
StatEconFinance/Convergence/*.log
StatEconFinance/Convergence/*.toc
StatEconFinance/Convergence/*.synctex.gz
StatEconFinance/MostlyHarmlessEconometrics/*.pdf
StatEconFinance/MostlyHarmlessEconometrics/*.out
StatEconFinance/MostlyHarmlessEconometrics/*.aux
StatEconFinance/MostlyHarmlessEconometrics/*.log
StatEconFinance/MostlyHarmlessEconometrics/*.toc
StatEconFinance/MostlyHarmlessEconometrics/*.synctex.gz
StatEconFinance/CreditDerivatives/*.pdf
StatEconFinance/CreditDerivatives/*.out
StatEconFinance/CreditDerivatives/*.aux
StatEconFinance/CreditDerivatives/*.log
StatEconFinance/CreditDerivatives/*.toc
StatEconFinance/CreditDerivatives/*.synctex.gz
StatEconFinance/MultivariateNormal/*.pdf
StatEconFinance/MultivariateNormal/*.out
StatEconFinance/MultivariateNormal/*.aux
StatEconFinance/MultivariateNormal/*.log
StatEconFinance/MultivariateNormal/*.toc
StatEconFinance/MultivariateNormal/*.synctex.gz
StatEconFinance/DerivativeTypes/*.pdf
StatEconFinance/DerivativeTypes/*.out
StatEconFinance/DerivativeTypes/*.aux
StatEconFinance/DerivativeTypes/*.log
StatEconFinance/DerivativeTypes/*.toc
StatEconFinance/DerivativeTypes/*.synctex.gz
StatEconFinance/Optimization/*.pdf
StatEconFinance/Optimization/*.out
StatEconFinance/Optimization/*.aux
StatEconFinance/Optimization/*.log
StatEconFinance/Optimization/*.toc
StatEconFinance/Optimization/*.synctex.gz
StatEconFinance/DiscreteSpaceContinuousTimeFinance/*.pdf
StatEconFinance/DiscreteSpaceContinuousTimeFinance/*.out
StatEconFinance/DiscreteSpaceContinuousTimeFinance/*.aux
StatEconFinance/DiscreteSpaceContinuousTimeFinance/*.log
StatEconFinance/DiscreteSpaceContinuousTimeFinance/*.toc
StatEconFinance/DiscreteSpaceContinuousTimeFinance/*.synctex.gz
StatEconFinance/PrincipalComponent/*.pdf
StatEconFinance/PrincipalComponent/*.out
StatEconFinance/PrincipalComponent/*.aux
StatEconFinance/PrincipalComponent/*.log
StatEconFinance/PrincipalComponent/*.toc
StatEconFinance/PrincipalComponent/*.synctex.gz
StatEconFinance/Econometrics/*.pdf
StatEconFinance/Econometrics/*.out
StatEconFinance/Econometrics/*.aux
StatEconFinance/Econometrics/*.log
StatEconFinance/Econometrics/*.toc
StatEconFinance/Econometrics/*.synctex.gz
StatEconFinance/EquityDerivatives/*.pdf
StatEconFinance/EquityDerivatives/*.out
StatEconFinance/EquityDerivatives/*.aux
StatEconFinance/EquityDerivatives/*.log
StatEconFinance/EquityDerivatives/*.toc
StatEconFinance/EquityDerivatives/*.synctex.gz
StatEconFinance/Regression/*.pdf
StatEconFinance/Regression/*.out
StatEconFinance/Regression/*.aux
StatEconFinance/Regression/*.log
StatEconFinance/Regression/*.toc
StatEconFinance/Regression/*.synctex.gz
StatEconFinance/FixedIncomeDerivatives/*.pdf
StatEconFinance/FixedIncomeDerivatives/*.out
StatEconFinance/FixedIncomeDerivatives/*.aux
StatEconFinance/FixedIncomeDerivatives/*.log
StatEconFinance/FixedIncomeDerivatives/*.toc
StatEconFinance/FixedIncomeDerivatives/*.synctex.gz
StatEconFinance/GammaDistribution/*.pdf
StatEconFinance/GammaDistribution/*.out
StatEconFinance/GammaDistribution/*.aux
StatEconFinance/GammaDistribution/*.log
StatEconFinance/GammaDistribution/*.toc
StatEconFinance/GammaDistribution/*.synctex.gz
StatEconFinance/VARs/VARs.pdf
StatEconFinance/VARs/VARs.out
StatEconFinance/VARs/VARs.aux
StatEconFinance/VARs/VARs.log
StatEconFinance/VARs/VARs.toc
StatEconFinance/VARs/VARs.synctex.gz
